* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
    line-height: 1.5em;
}

html, body {
    height: 100%;
    scroll-behavior: smooth;
}

[class^=navbar] {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    list-style-type: none;
    background-color: rgba(000, 000, 000, 0.4);
}

.txt-nav {
    font-size: 50px;
    font-weight: bold;
    letter-spacing: -12px;
    color: darkorange;
}

.navbar-desktop {
    flex-direction: row;
}

.navbar-mobile {
    flex-direction: column;
    text-align: center;
    display: none;
}

[class^=navbar] li{
    padding: 40px;
} 

[class^=navbar] a{
    text-decoration: none;
    color: white;
    font-weight: 500;
}

[class^=navbar] a:hover {
    font-size: 20px;
    transition: 0.2s;
}

.menu-mobile {
    width: 100%;
    display: none;
    position: fixed;
    top: 0;
    background-color: rgba(000, 000, 000, 0.4)
}

.imgmenumobile {
    filter: invert(100%);
    display: block;
    margin:20px auto;
}

.menu-mobile:hover .navbar-mobile{
    display: flex;
}

.menu-mobile:hover .imgmenumobile{
    display: none;
}

.hero {
    width: 100%;
    height: 800px;
    background-color:#000000;
    background-image: url("../imagens/img-hero.jpg");
    background-size: 1200px 100%;
    background-repeat: no-repeat;
    background-position: center top;
}

.txt-s2 {
    max-width: 790px;
    margin: auto;
    padding: 60px;   
    text-align: center;
}

.txt-s2 p{
    padding-top: 30px;
    text-align: justify;
}

.galeria-s2 {
    display: flex;
    justify-content: center;
    padding: 40px;
}

.perfil-s2 {
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgperfil-s2 {
    width: 140px;
    height: 150px;
    background-color: darkorange;
    border-radius: 5px;
}

.txtperfil-s2 {
    margin:15px;
}

.responsivo-s2 {
    display: flex;
}

.sessao3 {
    background-color: #000000;
    color :white;
    text-align: center;
    padding: 60px 0px;
}

.sessao3 h1 {
    font-weight: 400;
    font-size: 30px;
    padding-top: 30px;
}

.sessao3 > p{
    margin: 20px 0px;
}

.mes-s4 {
    max-width: 750px;
    margin: auto;
    padding: 10px;
    background-color: white;
    border: 1px solid lightgray;
    color: #000000;
    text-align: left;
}

.galeria-s3 {
    display: flex;
    justify-content: center;
}

.container-s3 {
    margin: 10px;
    max-width: 240px;
    width: 30%;
}

.imggaleria-s3 {
    width: 100%;
    height: 250px;
    background-color: green;
}

.txtgaleria-s3 {
    width: 100%;
    background-color: white;
    color: #000000;
    padding: 10px;
    font-size: 14px;
}

.txtgaleria-s3 a{
    text-decoration: none;
    display: block;
    background-color: black;
    margin:10px;
    padding: 10px;
    color: white;
}

.txtgaleria-s3 a:hover {
    background-color: darkorange;
    transition: 0.2s;
}

@media screen and (max-width: 800px) {

    .navbar-desktop {
        display: none;
    }

    .menu-mobile {
        display: block;
    }

    .txt-nav {
        width: 100%;
        text-align: center;
        font-size: 30px;
        letter-spacing: -8px;
    }

    .responsivo-s2 {
        display: block;
    }

    .container-s3 {
        width: 90%;
        margin: 40px auto;
        max-width: none;
    }

    .galeria-s3 {
        flex-direction: column;
    }

    .mes-s4 {
        width: 90%;
    }

}

@media screen and (max-width: 400px) {
    
    .galeria-s2 {
        flex-direction: column;
    }

}