* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
    line-height: 1.5em;
}

html, body {
    height: 100%;
    scroll-behavior: smooth;
}

[class^=navbar] {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    list-style-type: none;
    background-color: rgba(000, 000, 000, 0.4);
    z-index: 3;
}

.txt-nav {
    font-size: 50px;
    font-weight: bold;
    letter-spacing: -12px;
    color: darkorange;
}

.navbar-desktop {
    flex-direction: row;
}

.navbar-mobile {
    flex-direction: column;
    text-align: center;
    display: none;
}

[class^=navbar] li{
    padding: 40px;
} 

[class^=navbar] a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: 0.9s;
}

[class^=navbar] li:hover {
    transform: scale(1.3);
}

.menu-mobile {
    width: 100%;
    display: none;
    position: fixed;
    top: 0;
    background-color: rgba(000, 000, 000, 0.4)
}

.imgmenumobile {
    filter: invert(100%);
    display: block;
    margin:20px auto;
}

.menu-mobile:hover .navbar-mobile{
    display: flex;
}

.menu-mobile:hover .imgmenumobile{
    display: none;
}

.hero {
    width: 100%;
    height: 800px;
    background-color:#000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero img{
    width: 1200px;
    height: 776px;
    overflow: hidden;
}

.txt-s2 {
    max-width: 790px;
    margin: auto;
    padding: 60px;   
    text-align: center;
}

.txt-s2 p{
    padding-top: 30px;
    text-align: justify;
}

.galeria-s2 {
    display: flex;
    justify-content: center;
    padding: 40px;
}

.perfil-s2 {
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgperfil-s2 {
    width: 140px;
    height: 150px;
    border-radius: 5px;
}

.imgperfil-s2:hover {
    transform: scale(1.2);
    border-radius: 5px;
    transition: 0.2s;
}

.txtperfil-s2 {
    margin:15px;
}

.responsivo-s2 {
    display: flex;
}

.sessao3 {
    background-color: #000000;
    color :white;
    text-align: center;
    padding: 60px 0px;
}

.sessao3 h1 {
    font-weight: 400;
    font-size: 30px;
    padding-top: 30px;
}

.sessao3 > p{
    margin: 20px 0px;
}

.mes-s4 {
    max-width: 750px;
    margin: auto;
    padding: 10px;
    background-color: white;
    border: 1px solid lightgray;
    color: #000000;
    text-align: left;
}

.mes-s4:hover {
    background-color: red;
    color: white;
    transition: 0.3s;
}

.mes-s4:hover span{
    text-transform: uppercase;
    font-weight: bold;
}

.galeria-s3 {
    display: flex;
    justify-content: center;
}

.container-s3 {
    margin: 10px;
    max-width: 237px;
    width: 30%;
}

.imggaleria-s3 {
    width: 100%;
    height: 250px;
    background-color: green;
}

.border-top-radius {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.border-bottom-radius {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.txtgaleria-s3 {
    width: 100%;
    background-color: white;
    color: #000000;
    padding: 10px;
    font-size: 14px;
}

.txtgaleria-s3 a{
    text-decoration: none;
    display: block;
    background-color: black;
    margin:10px;
    padding: 10px;
    color: white;
    transition: 0.2s;
}

.txtgaleria-s3 a:hover {
    background-color: darkorange;
}

.sessao4 {
    padding: 80px 0px;
}

.txt-s4, .txt-s4 h1{
    text-align: center;
    padding-bottom: 20px;
}

.container-s4 {
    display: flex;
    padding-top: 40px;
}

.endereço-s4 {
    width: 50%;
    margin: 0 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

form {
    width: 50%
}

.input42-s4 {
    width: 44.9%;
    height: 50px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
}

.input80-s4 {
    width: 90%;
    height: 50px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
}

input[type=submit] {
    background-color: darkorange;
    text-transform: uppercase;
    font-size: 20px;
    color: white;
}

input[type=submit]:hover {
    background-color: white;
    text-transform: uppercase;
    font-size: 20px;
    color: darkorange;
    transition: 0.3s;
}

.background-antes-footer {
    width: 100%;
    height: 400px;
    background-image: url("../imagens/map.jpg");
    background-size: cover;
    background-position: center;
}

footer {
    height: 100px;
    text-align: center;
    padding: 20px;
    background-color: darkorange;
    color: white;   
}

@media screen and (max-width: 800px) {

    .navbar-desktop {
        display: none;
    }

    .menu-mobile {
        display: block;
        z-index: 2;
    }

    .txt-nav {
        width: 100%;
        text-align: center;
        font-size: 30px;
        letter-spacing: -8px;
    }

    .responsivo-s2 {
        display: block;
    }

    .container-s3 {
        width: 90%;
        margin: 40px auto;
        max-width: none;
    }

    .galeria-s3 {
        flex-direction: column;
    }

    .mes-s4 {
        width: 90%;
    }
    .container-s4 {
        flex-direction: column;
    }

    .endereço-s4, form {
        width: 80vw;
        margin: 20px auto;
        font-size: 13px;
    }

}

@media screen and (max-width: 400px) {
    
    .galeria-s2 {
        flex-direction: column;
    }

    .txt-nav {
        font-size: 26px;
    }
}

.img1 {
    width: 1200px;
    overflow: hidden;
    background-image: url(../imagens/img-hero1.jpg);
    background-size: cover;
    background-position: left;
}

.img1 img{
    object-fit: cover;
    width: 1200px;
    overflow: hidden;
    height: 100%;
    animation-name: um;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    transition: 1s;
}

@keyframes um {
    0% {opacity: 1;}
    25% {opacity: 0;}
    50% {opacity: 0;}
    75% {opacity: 1;}
    100% {opacity: 1;}
}